{% extends "app.twig" %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <form class="loginForm" method="post" action="{{ path_for('signup') }}">
        <label for="userId">User Id</label>
        <input name="userId" id="userId" type="text">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
        <input type="submit" value="Login">
    </form>
{% endblock %}