{% extends 'app.twig' %}
{% block css %}
    <link href="{{ base_url() }}/static/css/todoListStyle.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="errorMessage" class="row flex-row justify-content-center mt-2 hide">
            <div class="alert alert-danger" role="alert">
                A simple danger alert—check it out!
            </div>
        </div>
        <div class="row">
            <form id="addTodo" class="col-12 card">
                <div class="form-group">
                    <label for="todoTitle">Title: </label>
                    <input name="todoTitle" class="form-control" id="todoTitle" type="text">
                </div>
                <div class="form-group">
                    <label for="todoContent">Content: </label>
                    <textarea name="todoContent" class="form-control" rows="3" id="todoContent"></textarea>

                </div>

                <input type="submit" class="btn btn-primary" value="Add Todos">
            </form>
        </div>
        <div id="todos" class="row"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/html" id="todoTemplate">
        <div data-id="id" class="col-lg-4 col-md-4 col-sm-6">
            <div class="card p-2 m-1">
                <div class="card-body">
                    <h5 class="card-title" data-content="title"></h5>
                    <p class="card-text" data-content="content"></p>
                    <p class="card-text"><em>created at: <span data-content="date"></span></em></p>
                    <button class="btn btn-primary deleteTodo" data-value="id">Delete</button>
                </div>
            </div>

        </div>

    </script>
    <script>
        $("#addTodo").on('submit', function (e) {
            e.preventDefault();
            let data = {
                todoTitle: e.target.todoTitle.value,
                todoContent: e.target.todoContent.value
            }

            $.ajax({
                url: "{{ path_for('addTodo') }}",
                data,
                type: "POST",
                success: function (result) {
                    loadDataToDOM(result);
                    e.target.todoTitle.value = '';
                    e.target.todoContent.value = '';
                },
                error: function (err) {
                    console.log('error: ', err);
                }
            });
        });

        $("#todos").on('click', "button.deleteTodo", (e) => {
            // console.log(e.target.value)
            $.ajax({
                url: "localhost:8888/todo",
{#                {{ path_for('deleteTodo') }}#}
                data: {
                    id: e.target.value
                },
                type: "POST",
                success: function (result) {
                    console.log(result);
                    $("#" + e.target.value).remove();
                },
                error: function (err) {
                    $("#errorMessage").removeClass('hide');
                    $('#errorMessage .alert').textContent = 'Unable to delete your todos';
                }
            });
        });

        function loadDataToDOM(result) {
            for (res in result) {
                let data = result[res];
                $('#todos').loadTemplate($("#todoTemplate"), {
                    id: data['Todoindex'],
                    title: data['Title'],
                    content: data['Content'],
                    date: data['Dateofcreation']
                }, {prepend: true})
            }
        }

        $(document).ready(function () {
            $.ajax({
                url: "{{ path_for('getTodoJson') }}",
                success: function (result) {
                    loadDataToDOM(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });


    </script>
{% endblock %}
